.BaseHead {
    .content {
        margin: auto;
        height: 100%;
        display: flex;
        width: 1200px;
        position: relative;
        align-items: center;
        justify-content: space-between;

        .logo {
            display: flex;
            align-items: center;

            img {
                height: 44px;
                width: 114px;
            }

            span {
                white-space: nowrap;
            }
        }

        .authInfo {
            img {
                width: 24px;
                height: 24px;
                margin: 0 8px;
            }

            span {
                font-size: 14px;
            }

            a {
                color: inherit;
                font-size: 14px;
            }
        }

        .menu {
            flex: 1;
            height: 100%;
            display: flex;
            margin: 0 40px;
            font-size: 18px;
            border-width: 0px;
            line-height: 57px;

            align-items: center;

            overflow-y: hidden;
            overflow-x: auto;

            .selected {
                border-bottom: 2px solid;
                text-shadow: -0.1ex 0, 0.1ex 0;
            }

            .menuItem {
                margin: 0;
                padding: 0 24px;

                &:hover {
                    text-shadow: -0.1ex 0, 0.1ex 0;
                }
            }

            .menuLink {
                color: inherit;

                &:hover {
                    color: inherit;
                }
            }
        }
    }
}
