.NotFound {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #ff7875;

    font-size: 24px;
    font-weight: bolder;
    height: 100%;
}
